.cgdc_navbar {
  border-bottom: 2px solid #c3203d !important;
  background-color: #223168 !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cgdc_navbar .nav_link {
  color: rgba(255, 255, 255, 0.85) !important;
  text-transform: uppercase;
  font-weight: 600;
}
.cgdc_navbar .nav_link:hover,
.cgdc_navbar .nav_link:active {
  color: rgba(255, 255, 255, 1) !important;
}
